*{
    margin:0;
    padding:0;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.nav-link{
    text-decoration:none;
}
.navbar,.nav-item{
    list-style-type:none;
}
.main-nav{
    background:#2874f0;
}
.logoDiv>a{
    color:#f0f0f0;
    font-size:11px;
}
.plus{
    color:#ffe500;
    font-weight:500;
    margin-inline:2px;
}
.searchDiv>i{
    color: #2874f0;
    position: relative;
    right: 25px;
    top: 10px;
}
.login-btn{
    color:#2874f0;
    font-weight:500;
    background:#fff;
    border:1px solid #dbdbdb;
    height:32px;
    border-radius:2px;
    padding:5px 40px;
}
.nav-btn{
    color:#fff;
    font-size:16px;
    letter-spacing: .1px;
    font-weight:500;
    display:flex;
    align-items:center;
}
ul.header{
    justify-content:space-around;
    padding:12px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.searchDiv>input{
    height:36px;
    font-size:14px;
    border:0;
    outline:0 none;
    border-radius:2px 0 0 2px;
    padding:0 16px;
    width:100%;
}