*{
    margin:0;
    padding:0;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #f1f3f6;
}
a{
    text-decoration:none;
}
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.align-items-center{
    align-items:center;
}
.m-0{
    margin:0;
}
.p-0{
    padding:0;
}
.nav-link{
    text-decoration:none;
}
.navbar,.nav-item{
    list-style-type:none;
}
.main-nav{
    background:#2874f0;
    position:fixed;
    width:100%;
    z-index:2;
    top:0;
}
.logoDiv>a{
    color:#f0f0f0;
    font-size:11px;
    line-height:6px;
}
.plus{
    color:#ffe500;
    font-weight:500;
    margin-inline:2px;
}
i>img{
    position:relative;
    bottom:3px;
}
.searchDiv>i{
    color: #2874f0;
    position: relative;
    right: 25px;
    top: 10px;
}
.nav-btn{
    color:#fff;
    font-size:16px;
    letter-spacing: .1px;
    font-weight:500;
    display:flex;
    align-items:center;
}
ul.header{
    justify-content:center;
    padding:10px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.searchDiv>input{
    height:36px;
    font-size:14px;
    border:0;
    outline:0 none;
    border-radius:2px 0 0 2px;
    padding:0 16px;
    width:100%;
}
.searchbar{
    padding-left:15px;
    width:60%;
}
.searchDiv{
    width:68%;
}
i.bi.bi-chevron-down{
    font-size:10px;
    padding-left:5px;
} 
.nav-item.logo{
    width:10%;
    justify-content:end;
}
.logoDiv{
    display:flex;
}

/*main*/
.main-container{
    margin:80px 40px 20px;
}
.container-left{
    width:70%;
}
.card-head{
    padding:12px 16px;
    background:#fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
    border-radius:2px;
}
.headDiv>p{
    color:#111112;
    font-size:14px;
}
.headDiv{
    width:100%;
    align-items:center;
}
.headDiv>button{
    margin-left:auto;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 16px;
    color: #2874f0;
    font-weight: 500;
    cursor:pointer;
}
.product{
    background:#fff;
    margin-top:8px;
    padding:24px;
}
.product-image{
    width:112px;
}
.product-image img{
    margin-inline:auto;
}
.product-details{
    width:51%;
    padding-inline:20px;
    overflow:hidden;
}
.product-name{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:16px;
    color:#212121;
}
.product-quantity,.seller{
    font-size:14px;
    color:#878787;
}
.seller{
    margin-top:8px;
}
.seller>img{
    margin-left:5px;
}
.del{
    font-size:14px;
    margin-right:10px;
    color:#878787;
    text-decoration:line-through;
}
.price-tag>.bold{
    font-size:18px;
    font-weight:500;
    color:#212121;
    margin-right:8px;
}
.green{
    color:#388e3c;
    font-size:14px;
}
.product-delivery>p{
    font-size:14px;
}
.price-tag{
    margin-top:auto;
}
.insuranceDiv{
    padding:28px;
    background:#fff;
}
.insurance{
    background:#f4f8ff;
    border: 1px solid #e0e0e0;
    padding:16px;
}
.insurance>.title{
    font-size:16px;
    font-weight:500;
    margin-bottom:16px;
}
.insurance>.d-flex>.imgDiv{
    margin-right:24px;
}
.insurance-details{
    width:66%;
}
.insurance-details>.head{
    font-size:16px;
    font-weight:400;
}
.insurance-details>.light{
    font-size:14px;
    color:#878787;
}
.insurance-details>.details{
    font-size:14px;
}
.insurance-details>.details>a{
    color:#2874f0;
    text-decoration:none;
    margin-left:5px;
}
.additemDiv{
    width:27%;
}
.additemDiv>button{
    background-color: #ff9f00;
    font-size: 14px;
    padding: 16px 40px;
    color: #fff;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid #e0e0e0;
    width:100%;
}
.quantity{
    background:#fff;
    padding:0 24px 16px;
}
.rounded>button{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    border: 1px solid #c2c2c2;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
}
.rectangle>input{
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    text-align:center;
}
.quantity>.tit{
    font-size:16px;
    font-weight:500;
    margin-left:25px;
    color:#212121;
}
.card-order>.button>button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    padding: 16px 80px;
    font-weight: 600;
    font-size: 16px;
    border-radius:2px;
}
.card-order>.button{
    display:flex;
    justify-content:end;
    padding:16px 24px;
}
.card-order{
    background:#fff;
    position:sticky;
    z-index:2;
    bottom:0;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}
.container-right{
    width:30%;
}
.card-right{
    margin-left:12px;
    background:#fff;
    position: sticky;
    top: 62px;
    z-index:1;
}
.card-right>.title{
    padding:13px 24px;
    color:#878787;
    font-weight:500;
    border-bottom: 1px solid #f0f0f0;
}
.checkoutDiv{
    padding:0 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
.checkout{
    display:flex;
    margin:20px 0;
}
.checkout>.number,.final>.number{
    margin-left:auto;
}
.final{
    padding-block:20px;
    border-top:1px dashed #f0f0f0;
    border-bottom:1px dashed #f0f0f0;
    font-size:18px;
    font-weight:500;
    color:#212121;
}
.checkoutDiv>.save{
    color:#388e3c;
    font-weight:500;
    padding:12px 0;
}
.bottom-text{
    padding-top:20px;
    font-size:14px;
    color:#878787;
    background:#f0f0f0;
}
.bottom-text>p{
    padding-left:12px;
    font-weight:500;
}
.card-product{
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
    border-radius:2px;
}
.headDiv>button:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
}
button{
    cursor:pointer;
}
.quantity>.tit:hover{
    color:#2874f0;
    cursor:pointer;
}
.additemDiv>button:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
/*footer*/
footer{
    display:flex;
    justify-content:center;
}
.footer{
    width:90%;
    padding:25px;
    font-size:14px;
    color:#565656;
}
.footer-left{
    cursor:pointer;
}
.footer-right{
    margin-left:auto;
}
.copyrights{
    margin-left:30px;
}
.footer-right>p>a{
    color:#2874f0;
}