*{
    margin:0;
    padding:0;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size:14px;
    background:#f0f0f0;
}

.d-flex{display:flex;}
.flex-column{flex-direction:column;}
.flex-row{flex-direction:row;}
.m-auto{margin:auto;}
.m-0{margin:0;}
.m-1{margin:4px;}
.m-2{margin:8px;}
.me-auto{margin-right:auto;}
.me-1{margin-right:4px;}
.me-2{margin-right:8px;}
.me-3{margin-right:12px;}
.ms-auto{margin-left:auto;}
.ms-1{margin-left:4px;}
.ms-2{margin-left:8px;}
.ms-3{margin-left:12px;}
.p-0{padding:0;}
.fw-500{font-weight:500;}
.fw-700{font-weight:700;}
.align-center{align-items:center;}
.text-decoration-none{text-decoration:none;}
.navbar,.nav-item{list-style-type:none;}

.main-nav{
    background:#fff;
    position:fixed;
    width:100%;
    z-index:2;
}

i>img{
    position:relative;
    bottom:3px;
}
.nav-btn{
    color:#212121;
    font-size:16px;
    letter-spacing:0.3px;
    display:flex;
    align-items:center;
}
ul.header{
    justify-content:center;
    padding:10px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.searchDiv>input{
    background:#f0f5ff;
    height:36px;
    font-size:18px;
    border:0;
    outline:0 none;
    border-radius:8px;
    padding:0 30px;
    width:100%;
}
.searchDiv>i{
    position:absolute;
    left:8px;
    top:9px;
    font-size: 18px;
    color: rgb(113, 116, 120);
}
.searchbar{
    padding-left:15px;
    width:41%;
}
.searchDiv{
    width:100%;
    position:relative;
}
a.nav-link{
    text-decoration:none;
    padding-inline:20px;
}

